*{
    margin: 0px;
    padding: 0px;

}
.flight-panel {
    background-color: pink;
    border-radius: 25px;
    min-width: 350px;
    height: 180px;
}

.flight-container {
    display: flex;
    width: 100%;
    /* background-color: pink;
    border-radius: 25px;
    min-width: 350px; */
    /* align-items: center; */
}

.left-panel {
    flex: 1;
    margin: 2em;
}

#from {
    margin-top: 10px;
}

#to {
    margin-top: 10px;
}

.center-panel {
    flex: 1;
    margin: 0;
}

.right-panel {
    flex: 1;
    margin: 0;
}

#from-code {
    margin-bottom: -20px;
}

#to-code {
    margin-bottom: -20px;
}

.flight-container {
    /* background-color: rgba(140, 145, 148, 0.5) !important; */
    /* border: white 3px solid; */
    /* border-radius: 25px !important; */
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* align-content: center; */
    /* position: relative; */
    /* flex-wrap: wrap; */
    width: 100%;
    display: flex;
}

.flight-icon {
    width: 40%;
}

.flight-date-time {
    width: 100%;
    padding-bottom: 0px;
}