.weather-panel {
    background-color: rgba(106, 189, 220, 0.78);
    display: flex;
    width: 100%;
    color: white;
    border-radius: 25px;
    border: white 3px solid;
    height: 180px;
    align-items: center;
}

.left-panel {
    margin-left: 20px;
    flex: 1;
    width: 100px;
}

.right-panel {
    margin-right: 20px;
    flex: 1;
}

.weather-container {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    text-shadow: 0.1px 0.3px black;
}

.weather-img {
    width: 90%;
}